/* mobile view */
@media only screen and (max-width: 1000px){ 
/*--------MAIN CONTAINER--------*/
.main-container{
  margin: 0 30px 0px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.project-intro{
  margin-bottom: 30px;
}

.essay-block{
  margin-bottom: 35px;
}

.essay-social-media{
  display: flex;
}

.fas::before, .fab::before{
  /* font-size: 40px; */
  position: relative;
   top: 14px;
 }

.like-btn{
  margin-right: 25px;
}
#count{
  padding-left: 15px;
}
}

/*-------------------------------------------------------*/

/*desktop view*/
@media only screen and (min-width: 1000px){
.project-intro, .essay{
  margin: 40px 300px; 
}

.project-intro{
  padding: 20px 20px 20px 0;
}

.project-modal{
  padding-top: 10px;
  display: flex;
  padding-right: 30px;
}

.essay-container{
  margin-top: 100px;
}

.essay-block{
  /* height: 60vh; */
  margin: 40px 0 80px;
}
.essay-block .essay2{
margin-bottom: 40px;
}

.essay-header, .essay-description{
  padding-bottom: 30px;
}
.essay-genre{
  padding-bottom: 8px;
}
.essay-pdf{
  padding-bottom: 40px;
}
.essay-social-media{
  display: flex;
}

.fa-heart, .fa-share-nodes{
  font-size: 40px;
  font-weight: 100;

}
/* .fa-heart{
  margin-right: 80px;
} */
#envelope, #linked{
  transform: translateY(0px); 
}

.fab:before, .fas:before{
  position: relative;
  top: 13px;
}

.like{
  display: inline-flex;
  width: 25%;
}

input{
  margin-left: -20px;
  width: 40%;
  border: none;
  outline: none;
  text-align: center;
  background: none;
  font-size: 30px;
  font-weight: 700;
  pointer-events: none;
  color: #fff;
}

.share{
  margin-left: 0px;
}

}

/*--------------------------------------------*/
/*OUTSIDE OF MEDIA QUERIES*/
.essay-genre{
  font-weight: 100;
}

.essay-pdf a{
  font-weight: bold;
  filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.5));
  color: #fff;
  text-decoration: none;
}

.fa-heart, .fa-share-nodes{
  filter: drop-shadow(-4px 4px 4px #b47e16);
  cursor: pointer;
  color: #c26A17;
}

.like-btn{
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  text-align: center;
}
#icon{
  width: 5%;
}
#count{
  width: 95%;
  margin: 0;
  color: #fff;
}

/*--------SHARE MODAL-------*/
#share{
  background-color: transparent;
  border: none;
}
.modal-backdrop{
  position: unset !important;
}
.modal {
  background-color: #b47e16;
  opacity: 94%;
}

.modal-title {
  font-weight: bold;
  color: #c26A17;
}

.modal-content {
  border-radius: 13px;
}

.modal-body {
  color: black;
}

.img-thumbnail {
  border-radius: 33px;
  width: 61px;
  height: 61px;
  filter: none;
}


.smd {
  width: 200px;
  font-size: small;
  text-align: center;
}

.modal-footer {
  display: block;
  color: black;
}

.ur {
  border: none;
  background-color: #e6e2e2;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.cpy {
  border: none;
  background-color: #e6e2e2;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  cursor: pointer;
  padding: 8px;
}

button.focus,
button:focus {
  outline: 0;
  box-shadow: none !important;
}

.ur.focus,
.ur:focus {
  outline: 0;
  box-shadow: none !important;
}

.message {
  font-size: 11px;
  color: #ee5535;
}