:root {
  --icon-color: #80ffe0;
}

/* mobile view */
@media only screen and (max-width: 1000px){ 
  /*--------MAIN CONTAINER--------*/
.main-container{
  margin: 0 30px 15px;
  overflow: hidden;
  /* display: flex;
  flex-direction: column; */
}

.main-container{
  display: grid;
  grid-template-areas: 
  "image"
  "education"
  "skills"
  "tools"
  "feedback";
  /* margin: 40px 250px; */
  /* padding-left: 60px; */
}

.image-container-resume img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 75%;
  box-shadow: -8px 8px rgba(0, 0, 0, 0.25);
}

.education-header-container{
  display: flex;
}

.pdf{
  /* font-size: 30px; */
  margin-left: 50px;
  padding-top: 7px;
}

.gpa{
  margin-bottom: 15px;
}

.education-school-container{
  margin-bottom: 15px;
}

.education-container ul li, .feedback-content ul li, .school-2 ul li, .awards ul li{
  display: list-item;
  list-style: disc;
  margin-left: 1em;
  
}

.education, .skills, .feedback, .tools, .awards{
  margin-bottom: 40px;
}

.feedback-title{
  font-size: 20px;
  margin-bottom: 15px;
}

.quote{
  margin: 40px 30px 30px;
}
.air-quotes{
  margin-bottom: 0;
  font-size: 40px;
}
.quote-author p{
  text-align: right;
}
}

/*------------------------------------------------*/
/*desktop view*/
@media only screen and (min-width: 1000px){

/*----MAIN CONTAINER-----*/
.main-container{
  display: grid;
  grid-template-areas: 
  "image education"
  "skills feedback"
  "tools feedback";
  margin: 40px 250px;
  padding-left: 60px;
}

.education, .feedback, .awards{
  margin-top: 55px;
  width: 550px;
}

.skills{
  line-height: 60px;
  margin-top: 60px;
}

.skills-header, .tools-header{
  margin-bottom: 20px;
}

.skills-content li, .tools-content li{
  list-style-type: none;
}

.tools{
  line-height: 60px;
  margin: 0px 0 0px;
  transform: translateY(-550px);
}


/*----IMAGE SECTION---*/
.image-container-resume img{
  max-width: 100%;
  margin-top: 70px;
  border: none;
  box-shadow: -8px 8px rgba(0, 0, 0, 0.25);
}

/*----EDUCATION AND FEEDBACK SECTION---*/
.education, .feedback{
  padding-left: 20px;
}
.education-header-container, .feedback-header{
  display: flex;
  margin-bottom: 28px;
}

.education-name-year-container, .feedback-name-year-container{
  display: flex;
}

.school-year, .feedback-year{
  margin-left: 40px;
  text-align: right;
  font-weight: 100;
}
.school-1{
  padding-bottom: 20px;
}
.year1{
  padding-left: 93px;
}
.feedback-year{
  padding-left: 50px;
}
.feedback-year1 {
  padding-left: 140px;
}
.gpa, .feedback-title{
  font-weight: 100;
  margin-bottom: 20px;
}

.list{
  margin-left: 1.8em;
}

.feedback-content li{
  padding-bottom: 40px;
}

/*PDF*/
.fa-file-pdf{
  font-size: 40px;
  font-weight: 100;
  margin: 0;
  padding-left: 40px;
  padding-top: 28px;
  text-align: center;
}

.fa-file-pdf {
  transform: translateY(-5px);
}

/*------AWARDS SECTION------*/
.awards{
  margin-left: 20px;
  margin-top: 20px;
}

/*------QUOTE-----*/
.quote{
 height: 70vh;
}
.quote-content{
  display: inline-flex;
  margin-left: 200px;
  padding: 200px 0 0 100px;
}
.quote-author{
  text-align: center;
  padding: 50px 0 0 100px;
}
.air-quotes{
  font-size: 80px;
  padding-right: 20px;
}

.fab:before, .fas:before{
  position: relative;
  top: 13px;
}

}


/*--------------------------------------------*/
/*OUTSIDE OF MEDIA QUERIES*/


.school-name, .feedback-name{
  font-weight: bold;
}

.fa-file-pdf{
  filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
  color: var(--icon-color);
}

.air-quotes {
  color: #fff;
}

.skills {
  grid-area: skills;
}

.tools {
  grid-area: tools;
}
