@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;1,700&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --line-border-fill: #DD9b1c;
  --line-border-empty: #fff;
}

/* mobile view */

/*--------media query for menu----------*/
@media only screen and (max-width: 1000px){ 
    #logo{
      width: 70px;
       height: 50px;
       padding: 10px 0 0 20px;
       margin: 0;
  }
  .logo-container{
    width: 50%;
    /* height: auto; */
  }

  .menu-icon{
    cursor: pointer;
    width: 35px;
    height: 30px;
    top: 0;
    right: 0;
    position: absolute;
    padding-top: 10px;
    padding-right: 5px;
  }

  .fa-bars{
    color: #fff;
  }

  .navbar{
      display: flex;
      justify-content: space-between;
      margin: 0;
      padding: 5px;
      height: 75px;
    }

  #Navigation{
    position: absolute;
    top: 80px;
    left: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #A67415;
    width: 70%;
    overflow: hidden;
    transition: 0.5s;
    border: transparent;
    border-radius: 5px;    
  }

   .nav-links li{
      display: block;
      margin: 0;
      padding: 5px 0 5px 10px;
      font-size: 24px;
      width: 100%;
      text-align: left;
      list-style-type: none;
  }

  .link a{
    color: #fff;   
  }


}
/*-----------MOBILE VIEW CONT------------------------*/

@media only screen and (max-width: 1000px){ 

  /*--------MAIN CONTAINER--------*/
  .main-container{
    margin: 0 30px 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .intro{
    margin-top: -15px;
  }

  .image-container{
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .image-container img{
  max-width: 90%;
  }

 
/*-------FOOTER-------*/
.footer{
  margin: 0px;
  padding: 30px;
}

.footer-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-link{
  display: none;
}


}



/*-------------------------------------------------------------------*/


/*desktop view*/
@media only screen and (min-width: 1000px){
 
/*----NAVBAR------*/
.menu-icon{
  display: none;
}

.intro, .profile, .journey, .hobbies{
  margin: 40px 300px;
  text-align: center;
}

h1{
  text-align: left;
  padding-bottom: 20px;
  font-size: 64px;
}

.logo-container{
  float: left;
  margin: 20px;
  width: 50%;
  }

.logo-container img{
  width: 100px;
  height: auto;
  margin: 40px 0 50px 50px;
  padding-top: 5px;
  position: absolute;
  top: -20px;
  left: 50px
}

.navbar{
  height: 115px;
  width: 100%; 
}
.navbar-container{
  display: flex;
  width: 100%;
  justify-content: right;
  align-items: center;
  text-align: center;
}

.nav-links{
  display: inline-flex;
  /* padding-left: 70px;
  padding-right: 0px */
}

#Navigation li{
list-style-type: none;
margin: 0;
padding: 0px;
font-size: 24px;
}

#Navigation li a {
  text-decoration: none;
  color: var(--line-border-empty);
  margin: 0 10px;
}
/* .navbar li a:visited{
  filter: drop-shadow(-6px 5px 4px #A67415);
  font-size: 32px;
  font-weight: bold;
} */
.navbar li a:hover{
  filter: drop-shadow(-6px 5px 4px #A67415);
  font-size: 32px;
  font-weight: bold;
  background-color: transparent;
}
.navbar li a:active{
  filter: drop-shadow(-6px 5px 4px #A67415);
  font-size: 32px;
  font-weight: bold;
}

/*-----INTRO SECTION-----*/
.intro{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  padding-top: 20px;
}

.intro-container{
 width: 400px;
 max-width: 100%;
}
.intro-container p{
  text-align: center; 
}

/*-----PROFILE IMAGE------*/
.profile{
  height: auto;
}
.image-container{
 height: fit-content;
}
.image-container img{
  max-width: 35%;
  box-shadow: -8px 8px #A67415;
}

/*-------JOURNEY SECTION------*/
.journey-content p, .hobbies-content p{
  text-align: left;
  font-size: 24px;
  line-height: 36px;
  margin: 25px 40px 0 0;
}

.journey-container{
  padding-bottom: 50px;
}

/*-------HOBBIES SECTION------*/
.hobbies{
  padding-bottom: 40px;
}

/*---------FOOTER----------*/
.footer{
  padding: 40px;
}
.footer-container{
display: flex;
justify-content: space-evenly;
align-items: center;
width: 50%;
margin-left: 30px;
}

#envelope, #linked{
  font-size: 40px;
  font-weight: 100; 
}

#linked{
  margin-left: -45px;
}

/* .footer-link{
  font-size: 24px;
} */
/* .footer-container p{
  display: inline-flex;
  padding-left: 15px; 
  padding-bottom: 15px;
} */

.fab:before, .fas:before{
  position: relative;
  top: 13px;
}


}

/*-----------------------------------------------------------------------*/

/*OUTSIDE OF MEDIA QUERIES*/
body{
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: var(--line-border-fill);
  color: var(--line-border-empty);
  overflow-x: hidden;
  font-size: 24px;
  line-height: 36px;
  height: 100vh;
}

/*MAIN CONTAINER*/
.main-container{
  padding-top: 120px;
}

/*NAVBAR*/
#navbar{
  background-color: var(--line-border-fill);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9;
}

.navbar{
  border-bottom: 2px solid #C26A17;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
}

#logo{
  filter: drop-shadow(-4px 4px 4px #A67415);
}


/*---------FOOTER----------*/
.footer{
  border-top: 1px solid #C26A17;
}

#envelope, #linked{
  color: #C26A17;
}

.footer-link{
  font-family: 'IBM Plex Sans', sans-serif;
  color: var(--line-border-empty);
  text-decoration: none;
  cursor: pointer;
  font-weight: 100;
}

.footer-link:hover{
  color: #C26A17;
  transition: 0.2s;
}

.fa-envelope, .fa-linkedin{
  filter: drop-shadow(-4px 4px 4px #b47e16);
}
